/*#region WEBSITECARD*/

.website-card {
    // overflow: hidden;
    // width: 1030px;
    width: calc(100% - 340px);
    // height: 750px;
    height: calc(100vh - 100px);;
    min-height: 400px;
    // background: #37393E;
    background: #282828f1;
    border-radius: 40px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.website-content {
    overflow: scroll;
    display: flex;
    flex-direction: column;
    padding: 50px;
    padding-top: 10px;
    height: calc(100vh - 300px);;
}

.header {
    display: inline-block;
    justify-self: right;
    font-size: 60px;
    // font-family: 'winkle', 'sans-serif';
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    transition: all .25s ease;
}

.header:hover {
    // position: absolute;
    color: #96d2eb;
    transform: translateY(-15%);
}
/*#endregion WEBSITECARD*/


/*#region ABOUT*/

.header-tech {
    display: inline-block;
    justify-self: right;
    font-size: 40px;
    // font-family: 'winkle', 'sans-serif';
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    transition: all .25s ease;
}

.header-tech:hover {
    // position: absolute;
    color: #e9b3d1;
    transform: translateY(-15%);
}

.tech-row {
    padding-top: 13px;
    display: inline-block;
}

.tech-icon {
    height: 70px;
    margin: 0 10px;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    transition: all .25s ease;
}

.tech-icon:hover {
    transform: scale(1.5);
}
/*#endregion ABOUT*/

/*#region PROJECTS*/

.grid {
    // border: 1px solid red;
    justify-content: center;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    row-gap: 40px;
    place-items: center;
}

a {
    color: #e9b3d1;
    text-decoration: dashed;
}

p {
    line-height: 25px;
}

/*#region RESPONSIVE*/

@media only screen and (max-width: 1400px) {
    .website-card {
        margin-top: 40px;
    }
}


@media only screen and (max-width: 1100px) {
    .website-card {
        width: 900px;
    }

    .grid {
        grid-template-columns: repeat(2, 1fr);
        // gap: 0px;
    }
}

@media only screen and (max-width: 950px) {
    .website-card {
        width: 750px;
    }
}

@media only screen and (max-width: 800px) {
    .website-card {
        width: 650px;
    }
}

@media only screen and (max-width: 700px) {
    .website-card {
        width: 550px;
    }

    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
    .header {
        font-size: 55px;
    }
}

@media only screen and (max-width: 600px) {
    .website-card {
        width: 470px;
        margin-top: 30px;
    }
}

@media only screen and (max-width: 510px) {
    .website-card {
        width: 420px;
    }
}

@media only screen and (max-width: 435px) {
    .website-card {
        width: 350px;
    }
}
/*#endregion RESPONSIVE*/