.profile-card {
    padding-top: 90px;
    position: relative;
    top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    width: 320px;
    height: 350px;
    // background: #37393E;
    background: #282828f1;
    border-radius: 40px;
    // box-shadow: rgba(0, 0, 0, 0.65) 0px 5px 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    // float: left;
}

.profile-picture {
    position: absolute;
    // transform: translateY(-40%);
    top: -65px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid #37393E;
    border-radius: 100%;
    width: 140px;
    height: 140px;
    overflow: hidden;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

.profile-picture:hover > .profile-image {
    transform: scale(1.07);
}

.profile-picture:hover {
    transform: translateY(-10%);
}

.profile-picture:active {
    transform: rotate(3.142rad);
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    transition: all .8s ease;
}

.profile-image {
    width: 260px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}

.name {
    font-family: 'winkle';
    font-size: 45px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transition: all .3s ease;
}
.name:hover {
    letter-spacing: 1.5px;
}

.blurb {
    text-align: left;
    padding: 40px;
    padding-top: 10px;
    font-size: 16px;
}


// responsiveness
@media only screen and (max-width: 1400px) {
    .profile-card {
        padding-bottom: 20px;
        padding-top: 20px;
        top: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        text-align: center;
        width: 1030px;
        height: 70px;
    }

    .profile-picture {
        border-radius: 100%;
        position: relative;
        top: 0px;
        left: -10px;
    }
    .profile-picture:hover {
        transform: translateX(-20%);
    }

    .name:hover {
        letter-spacing: normal;
        transform: translateY(-10%);
    }

    .blurb {
        line-height: 13px;
        padding: 30px;
        padding-left: 50px;
    }
}

@media only screen and (max-width: 1100px) {
    .profile-card {
        width: 750px;
        padding-left: 150px;
        -webkit-transition: all .6s ease;
        -moz-transition: all .6s ease;
        transition: all .6s ease;
    }
    
    .profile-picture {
        position: absolute;
        top: -20px;
        -webkit-transition: none;
        -moz-transition: none;
        transition: none;
    }

    .profile-picture:hover {
        transform: scale(1.07);
    }
    
    .name {
        position: absolute;
    }

    .blurb {
        visibility: hidden;
    }
}

@media only screen and (max-width: 950px) {
    .profile-card {
        width: 600px;
        padding-left: 150px;
        // -webkit-transition: all .7s ease;
        // -moz-transition: all .7s ease;
        // transition: all .7s ease;
    }
}

@media only screen and (max-width: 800px) {
    .profile-card {
        width: 500px;
    }
}

@media only screen and (max-width: 700px) {
    .profile-card {
        width: 400px;
    }
}

@media only screen and (max-width: 600px) {
    .profile-card {
        width: 300px;
        height: 20px;
    }

    .profile-picture {
        top: -15px;
        height: 80px;
        width: 80px;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        transition: all .3s ease;
    }

    .profile-image {
        width: 165px;
    }

    .name {
        position: absolute;
        left: 90px;
    }

    .name:hover {
        letter-spacing: 2px;
        transform: translateY(0%);
        position: absolute;
    }
}

@media only screen and (max-width: 510px) {
    .profile-card {
        width: 250px;
    }

    .profile-picture {
        top: -10px;
        height: 75px;
        width: 75px;
    }

    .profile-image {
        width: 160px;
    }

    .name {
        left: 80px;
    }
    .name:hover {
        letter-spacing: normal;
        transform: translateY(10%);
    }
}

@media only screen and (max-width: 435px) {
    .profile-card {
        width: 200px;
    }

    .profile-picture {
        left: 0px;
        top: -10px;
        height: 75px;
        width: 75px;
    }

    .profile-image {
        width: 150px;
    }

    .name {
        left: 87px;
    }
}
