.item {
    height: 350px;
    width: 270px;
    background-color: rgb(36, 94, 126);
    border-radius: 30px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
}

.item:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px #daceff;
    cursor: url("../../assets/images/purple-cursor/link-select-2.png"), auto;
}

.item:active {
    cursor: url("../../assets/images/purple-cursor/link-select-3.gif"), auto;
}


.item:hover > .info-cover {
    height: 330px;
}

.info-cover {
    padding-top: 0px;
    padding: 10px;
    width: 100%;
    height: 25px;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
}

.project-title {
    // font-family: 'winkle';
    box-decoration-break: clone;
    font-weight: 1000;
    font-size: 18px;
    // text-align: center;
    // justify-self: center;
}

.description{
    font-size: 14px;
}

.display-image {
    height: 100%;
    width: 100%;
}