// .blackout {
//     position: absolute;
//     height: 100%;
//     width: 100%;
//     background-color: rgba(0, 0, 0, 0.313);
// }

.modal {
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 700px;
    width: 1000px;
    background-color: rgba(36, 30, 30, 0.8);
    display: flex;
    flex-direction: column;
    transform: translate(-50%, -50%);
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
}

.modal-header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    justify-self: flex-start;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.8);
    padding-top: 8px;
    padding-left: 8px;
}

.close-button {
    height: 30px;
    width: 30px;
    border-radius: 30px;
    border: none;
    background-color: tomato;
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    transition: all .1s ease;
}

.close-button:hover {
    transform: scale(1.1);
    cursor: url("../../assets/images/purple-cursor/link-select-2.png"), auto;
}

.close-button:active {
    background-color: rgb(171, 57, 38);
    cursor: url("../../assets/images/purple-cursor/link-select-3.gif"), auto;
}

.modal-body {
    flex: 1;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.modal-footer {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    justify-self: flex-end;
    height: 50px;
    background-color: rgba(36, 30, 30, 0.409);
}