.ripple-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 150px;
    background: none;
    border: 1px solid rgb(241, 239, 239);;;
    border-radius: 30px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    transition: all .4s ease;
}

.ripple-button:hover {
    background-color: rgba(211, 184, 232, 0.082);
    transform: scale(1.07);
}

.ripple-button:hover > text {
    font-size: 22px;
}

.ripple-button > .ripple {
    width: 20px;
    height: 20px;
    position: absolute;
    background: #8f4ed9;
    display: block;
    border-radius: 9999px;
    opacity: 1;
    animation: 0.9s ease 1 forwards ripple-effect;
}
  
@keyframes ripple-effect {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(10);
      opacity: 0.375;
    }
    100% {
      transform: scale(35);
      opacity: 0;
    }
}
  
.ripple-button > .content {
    position: relative;
    z-index: 2;
}

// responsiveness
@media only screen and (max-width: 1100px) {
    .ripple-button {
        width: 135px;
    }

    .ripple-button:hover > text {
        font-size: 20px;
    }

}

@media only screen and (max-width: 950px) {
    .ripple-button {
        width: 120px;
    }
    text {
        font-size: 16px;
    }
    .ripple-button:hover > text {
        font-size: 18px;
    }
}

@media only screen and (max-width: 800px) {
    .ripple-button {
        width: 107px;
        height: 40px;
    }
    text {
        font-size: 15px;
    }
    .ripple-button:hover > text {
        font-size: 16px;
    }
}

@media only screen and (max-width: 700px) {
    .ripple-button {
        width: 90px;
        height: 40px;
    }
    text {
        font-size: 13px;
    }
    .ripple-button:hover > text {
        font-size: 13px;
    }
    .ripple-button:hover {
        transform: scale(1.15);
    }
}

@media only screen and (max-width: 600px) {
    .ripple-button {
        width: 80px;
        height: 30px;
    }
    text {
        font-size: 11px;
    }
    .ripple-button:hover > text {
        font-size: 11px;
    }
    .ripple-button:hover {
        transform: scale(1.15);
    }
}