nav {
    padding-bottom: 20px;
    padding-top: 30px;
    padding-left: 100px;
    padding-right: 100px;
    display: flex; /* use flexbox to align items horizontally */
    justify-content: space-between; /* space out items evenly along the horizontal axis */
    align-items: center; /* center items vertically */
    // outline: 4px solid red;
    overflow: hidden;
    border-bottom: 15px solid rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 1100px) {
    nav {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media only screen and (max-width: 1100px) {
    nav {
        padding-bottom: 20px;
        padding-top: 20px;
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media only screen and (max-width: 600px) {
    nav {
        padding-bottom: 13px;
        padding-top: 15px;
        padding-left: 18px;
        padding-right: 18px;
    }
}