@font-face {
    font-family: 'headerFontBold'; /*a name to be used later*/
    src: url('fonts/M_PLUS_Rounded_1c_Old/MPLUSRounded1c-Medium.ttf'); /*URL to font*/
}

* {
    transition-property: background;
    transition-duration: 0.2s;
    transition-delay: 0;
  }

body {
    background-color: black;
}

.App {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    background-image: url(/src/assets/main/purple-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 0 0 0 2000px rgb(234, 128, 252, 0.4);
}

.container {
    flex: 1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    max-width: calc(70em - 60px);
    /* min-width: calc(76vw - 80px); */
    margin-left: 20px;
    background-color: var(--tw-slate-900);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
}

.container-body {
    padding-top: 16px;
    overflow-x: hidden;
    overflow-y: auto;
}

.navigation {
    padding-left: 1em;
    padding-right: 1em;
    display: flex;
    justify-content: space-evenly;
    padding-top: 26px;
    padding-bottom: 20px;
}

.nav-button {
    --d:100px;
    --angle:86deg;
    border-radius: 8px;
    background-color: transparent;
    border: 1px dashed rgba(0, 0, 0, 0.2);
    width: 120px;
    height: 40px;
    color: black;
}

.nav-button-active {
    --d:100px;
    --angle:86deg;
    border-radius: 8px;
    background-color: transparent;
    /* border: 1px solid #a98cedff; */
    /* color: black; */
    background: repeating-linear-gradient(var(--angle), #ea80fc, #b44ccb, #ea80fc var(--d));
    background-size: calc(var(--d)/sin(var(--angle))) 100%;
    animation: slidebg 8s linear infinite reverse;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0);
}

.nav-button:hover {
    background: repeating-linear-gradient(var(--angle), #ffb2fe, #ea80fc, #ffb2fe var(--d));
    background-size: calc(var(--d)/sin(var(--angle))) 100%;
    /* animation: slidebg 8s linear infinite reverse; */
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0);
    border: none;
}

@keyframes slidebg {
    0% {
        background-position: calc(var(--d)/sin(var(--angle))) 0;
    }
}

.profile {
    background-color: var(--tw-slate-900);
    border-radius: 10px;
    height: 500px;
    /* flex: 1; */
    /* border: 1px solid red; */
    min-width: 360px;
    max-width: 360px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.tab {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.tab:-webkit-scrollbar {
    display: none;
}

.header {
    /* background-image: linear-gradient(86deg, #a98cedff 0%, #d9c5f2ff 100%); */
    /* background-image: linear-gradient(45deg, var(--header-gradient-1) 0%, var(--header-gradient-2) 100%); */
    /* outline: solid 1px #ffffff78; */
    background-color: var(--tw-slate-800);
    outline-offset: -1px;
    height: 56px;
    /* width: 300px; */
    display: inline-block;
    padding-left: 20px;
    margin-left: 5%;
    border-radius: 10px;
    user-select: none;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 0px; */
}

.header-text {
    font-family: "headerFontBold";
    font-size: 40px;
    font-weight: 500;
    color: var(--tw-slate-200);
    margin-top: -5px;
}

.content {
    /* border: 1px solid red; */
    margin-left: 5%;
    width: 90%;
    transition: opacity 1s ease, transform 1s ease;
    opacity: 0;
    transform: translateY(-10px);
}

.content.fade-in {
    opacity: 1;
    transform: translateY(0px);
}

.scale-animation {
    opacity: 1;
    animation: scaleUpDown 1s forwards;
}

@keyframes scaleUpDown {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    99% {
      transform: scale(1);
    }
  }

#crystal {
    font-style: normal;
    font-weight: 600;
    color: #f093fb;
}

@media (min-width: 0px) {
    .container {
        /* background-color: magenta; */
        margin-left: 0px;
    }

    .profile {
        display: none;
    }

        
    .nav-button, .nav-button-active {
        padding: 0px;
        width: 110px;
        height: 34px;
    }
}

@media (min-width: 640px) {
    .container {
        /* background-color: yellow; */
    }
}

@media screen and (min-width: 768px) {
    .container {
        /* background-color: green; */
    }

    /* .nav-button, .nav-button-active {
        padding: 0px;
        font-size: 12px;
    } */
}

@media screen and (min-width: 1024px) {
    .container {
        /* background-color: orange; */
        margin-left: 20px;
    }
    
    .profile {
        display: block;
        min-width: 300px;
        max-width: 300px;
        height: 380px;
    }

    .nav-button, .nav-button-active {
        font-size: 14px;
        width: 140px;
        height: 40px;
    }
}

@media screen and (min-width: 1280px) {
    .container {
        /* background-color: blue; */
    }
}

@media screen and (min-width: 1536px) {
    .container {
        /* background-color: red; */
    }
}