body {
    background-color: black;
}

.App {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    /* background-image: linear-gradient(86deg, #573aab 0%, #a194b1 100%); */
    background-color: #a194b1;
}

.container {
    flex: 1;
    /* border: 1px solid red; */
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    max-width: calc(76vw - 60px);
    margin-left: 20px;
    background-color: #F0F0F0;
}

.navigation {
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
    padding-bottom: 30px;
    /* border: 1px solid red; */
}

.nav-button {
    --d:100px;
    --angle:86deg;
    border-radius: 30px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.2);;
    width: 120px;
    height: 40px;
    color: black;
}

.nav-button:hover {
    background: repeating-linear-gradient(var(--angle), #a98cedff, #d9c5f2ff, #a98cedff var(--d));
    background-size: calc(var(--d)/sin(var(--angle))) 100%;
    animation: slidebg 2s linear infinite reverse;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0);
}

@keyframes slidebg {
    0% {
        background-position: calc(var(--d)/sin(var(--angle))) 0;
    }
}

.header {
    background-image: linear-gradient(86deg, #a98cedff 0%, #d9c5f2ff 100%);
    outline: solid 1px #ffffff78;
    outline-offset: -1px;
    height: 170px;
    width: 90%;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-left: 5%;
    text-align: center;
    border-radius: 20px;
}

.profile {
    background-color: #F0F0F0;
    border-radius: 30px;
    height: 500px;
    flex: 1;
    /* border: 1px solid red; */
    max-width: 24vw;
}