.App {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.container {
    flex: 1;
    border: 1px solid red;
    max-width: 96vw;
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
}

.navigation {
    background-color: red;
}