html {
    font-size: 62.5%;
}

html, body {margin: 0; height: 100%; overflow: hidden;}

body {
    /* pointer-events: none; */
    padding: 1.5vw;
    height: 100vh;
    margin: 0;
    font-family: 300 11px/1.4 'M PLUS Rounded 1c', 'sans-serif';
    color: #444;
    background:linear-gradient(45deg, #7D53F6, #E5D2FD);
    overflow: hidden;
    display: block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /* cursor: url("assets/images/small-purple-cursor/link-select.gif") */
    cursor: url("assets/images/purple-cursor/normal-select.png"), auto;
}

text::selection {
    background-color: #8a5ebad0;
}

a:hover {
    cursor: url("assets/images/purple-cursor/link-select-2.png"), auto;
}
a:active {
    cursor: url("assets/images/purple-cursor/link-select-3.gif"), auto;
}

::-webkit-scrollbar {
    width: 0.2em;
    background-color: transparent;
}

/* 
text {
    cursor: url("assets/images/purple-cursor/texto.png"), auto;
} */